{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main Section Start -->
<div class="main-section">
    <!-- Cover Image Start -->
    {% include 'includes/ccover.html' %}
    <!-- Cover Image End -->
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <!-- Sidebar Start -->
                {% include 'includes/c_sidebar.html' %}
                <!-- Sidebar End -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard">
                        <div class="user-holder">
                            <h5>OVERVIEW</h5>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card" style="position: relative; display: flex; flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem;">
                                        <div class="card-header" style="padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: rgba(0, 0, 0, 0.03); border-bottom: 1px solid rgba(0, 0, 0, 0.125); text-align:center;">
                                            Total Orders
                                        </div>
                                        <div class="card-body text-center" style="flex: 1 1 auto; padding: 1.25rem;">
                                            <a><h6 class="card-title" style="margin-bottom: 0.75rem;">{{ total_orders }}</h6></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card" style="position: relative; display: flex; flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem;">
                                        <div class="card-header" style="padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: rgba(0, 0, 0, 0.03); border-bottom: 1px solid rgba(0, 0, 0, 0.125); text-align:center;">
                                            Logged in as:
                                        </div>
                                        <div class="card-body text-center" style="flex: 1 1 auto; padding: 1.25rem;">
                                            <a><h6 class="card-title" style="margin-bottom: 0.75rem;">{{ user.email }}</h6></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <h5>Recent Orders</h5>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="user-orders-list">
                                        <div class="responsive-table">
                                            <ul class="table-generic">
                                                <li class="order-heading-titles">
                                                    <div>Order id</div>
                                                    <div>Date</div>
                                                    <div>Total Price</div>
                                                    <div>Status</div>
                                                    <div>Detail</div>
                                                </li>
                                                {% for order in recent_orders %}
                                                    <li class="order-heading-titles">
                                                        <div><a href="{% url 'order_detail' order.order_number %}">{{ order.order_number }}</a></div>
                                                        <div>{{ order.created_at }}</div>
                                                        <div>₹ {{ order.total }}</div>
                                                        <div><span class="order-status" style="background-color: #047a06;">{{ order.status }}</span></div>
                                                        <div><a href="{% url 'order_detail' order.order_number %}"><i class="icon-plus2 text-color"></i></a></div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% include 'includes/alerts.html' %}
{% endblock content %}